#### Exercise 34: Even or Odd?

Write a program that reads an integer from the user. Then your program should
display a message indicating whether the integer is even or odd.

In [ ]:
num = int(input("Please enter a number: "))

if num % 2 == 0:
    print("This number is even")
else:
    print("This number is odd")

#### Exercise 35: Dog Years

It is commonly said that one human year is equivalent to 7 dog years. However this
simple conversion fails to recognize that dogs reach adulthood in approximately two
years. As a result, some people believe that it is better to count each of the first two
human years as 10.5 dog years, and then count each additional human year as 4 dog
years. Write a program that implements the conversion from human years to dog years
described in the previous paragraph. Ensure that your program works correctly for
conversions of less than two human years and for conversions of two or more human
years. Your program should display an appropriate error message if the user enters
a negative number.

In [ ]:
while True:
    humanYearsOld = int(input("Please enter the age of a dog in human years: "))

    if humanYearsOld < 0 :
        print("Please enter positive number")
        exit()

    elif humanYearsOld <= 2:
        dogyears = humanYearsOld * 10.5
        print("dog {} years old.".format(dogyears))
    elif humanYearsOld > 2:
        dogyears = 21 + (4 * ( humanYearsOld - 2))
        print("dog {} years old.".format(dogyears))
    else:
        print("Please enter different number")

#### Exercise 36: Vowel or Consonant

In this exercise you will create a program that reads a letter of the alphabet from the
user. If the user enters <b> a, e, ı, i, o, ö, u, ü </b> then your program should display a message
indicating that the entered letter is a vowel. If the user enters y then your program
should display a message indicating that sometimes y is a vowel, and sometimes y is
a consonant. Otherwise your program should display a message indicating that the
letter is a consonant.

In [ ]:
while True:  
    letter = input("Please enter a letter: ").lower() #The string lower() method converts all uppercase characters in a string into lowercase characters and returns it
                                                      #The syntax of lower() method is: string.lower()
    if letter in "aeıioöuü":
        print("vowel")
    else:
        print("consonant")

#### Exercise 37: Name that Shape

Write a program that determines the name of a shape from its number of sides. Read
the number of sides from the user and then report the appropriate name as part of
a meaningful message. Your program should support shapes with anywhere from 3
up to (and including) 10 sides. If a number of sides outside of this range is entered
then your program should display an appropriate error message.

In [ ]:
while True:  
    side = int(input("Please enter the number of sides: "))

    if side == 3:
        print("This is triangle")
    elif side == 4:
        print("This is quadrilateral")
    elif side == 5:
        print("This is pentagon")
    elif side == 6:
        print("This is Hexagon")
    elif side == 7:
        print("This is Heptagon")
    elif side == 8:
        print("This is Octagon")
    elif side == 9:
        print("This is Nonagon")
    elif side == 10:
        print("This is Decagon")
    else:
        print("Please enter a number between 3 and 10")

#### Exercise 38: Month Name to Number of Days

The length of a month varies from 28 to 31 days. In this exercise you will create
a program that reads the name of a month from the user as a string. Then your
program should display the number of days in that month. Display “28 or 29 days”
for February so that leap years are addressed.

In [ ]:
month = input("Please enter the name of a month: ").lower() #The string lower() method converts all uppercase characters in a string into lowercase characters and returns it
                                                            #The syntax of lower() method is: string.lower()       
if month == "september" or month == "april" or month == "june" or month == "november":
    print("There are 30 days in this month.")
elif month == "february":
    print("There are 28 or 29 days in this month.")
else:
    print("There are 31 days in this month.")

#### Exercise 39: Sound Levels

The following table lists the sound level in decibels for several common noises.

<html>
    <body>
<table border=2>
    <tr>
        <td>Noise</td>
        <td>Decibel level (dB) </td>
    </tr>
    <tr>
        <td>Jackhammer</td>
        <td>130</td>
    </tr>
    <tr>
        <td>Gas lawnmower</td>
        <td>106</td>
    </tr>
    <tr>
        <td>Alarm clock</td>
        <td>70</td>
    </tr>
    <tr>
        <td>Quiet room</td>
        <td>40</td>
    </tr>
</table>
    </body>
</html>

Write a program that reads a sound level in decibels from the user. If the user
enters a decibel level that matches one of the noises in the table then your program
should display a message containing only that noise. If the user enters a number
of decibels between the noises listed then your program should display a message
indicating which noises the level is between. Ensure that your program also generates
reasonable output for a value smaller than the quietest noise in the table, and for a
value larger than the loudest noise in the table.

In [ ]:
while True:    
    decibellevel = int(input("Please enter the sound level from 130 to 40.: "))

    if decibellevel > 106 and decibellevel <= 130:
        print("Jackhammer")
    elif decibellevel > 70 and decibellevel <=106:
        print("Gas Lawnmower")
    elif decibellevel > 40 and decibellevel <=70:
        print("Alarm clock")
    elif decibellevel > 0 and decibellevel <=40:
        print("Quiet room")
    else:
        print("please enter a defined range")

#### Exercise 40: Name that Triangle

A triangle can be classified based on the lengths of its sides as equilateral, isosceles
or scalene. All 3 sides of an equilateral triangle have the same length. An isosceles
triangle has two sides that are the same length, and a third side that is a different
length. If all of the sides have different lengths then the triangle is scalene.
Write a program that reads the lengths of 3 sides of a triangle from the user.
Display a message indicating the type of the triangle.

In [ ]:
while True:    
    a = int(input("Please enter the length of first side of a triangle: "))
    b = int(input("Please enter the length of second side of a triangle: "))
    c = int(input("Please enter the length of third side of a triangle: "))

    if a == b == c:
        print("Your triangle is equilateral")
    elif a == b != c or a == c != b or b == c != a:
        print("Your triangle is isosceles")
    elif a != b != c:
        print("Your triangle is scalene")

#### Exercise 41: Note To Frequency

The following table lists an octave of music notes, beginning with middle C, along
with their frequencies.

<html>
    <body>
<table border=2>
    <tr>
        <td>Note</td>
        <td>Frequency (Hz)</td>
    </tr>
    <tr>
        <td>C4</td>
        <td>261.63</td>
    </tr>
    <tr>
        <td>D4</td>
        <td>293.66</td>
    </tr>
    <tr>
        <td>E4</td>
        <td>329.63</td>
    </tr>
    <tr>
        <td>F4</td>
        <td>349.23</td>
    </tr>
    <tr>
        <td>G4</td>
        <td>392.00</td>
    </tr>
    <tr>
        <td>A4</td>
        <td>440.00</td>
    </tr>
    <tr>
        <td>B4</td>
        <td>493.88</td>
    </tr>
</table>
    </body>
</html>

Begin by writing a program that reads the name of a note from the user and
displays the note’s frequency. Your program should support all of the notes listed
previously.
Once you have your program working correctly for the notes listed previously you
should add support for all of the notes from C0 to C8. While this could be done by
adding many additional cases to your if statement, such a solution is cumbersome,
inelegant and unacceptable for the purposes of this exercise. Instead, you should
exploit the relationship between notes in adjacent octaves. In particular, the frequency
of any note in octave n is half the frequency of the corresponding note in octave n+1.
By using this relationship, you should be able to add support for the additional notes
without adding additional cases to your if statement.
<b><i>Hint: To complete this exercise you will need to extract individual characters
from the two-character note name so that you can work with the letter and
the octave number separately. Once you have separated the parts, compute the
frequency of the note in the fourth octave using the data in the table above.
Then divide the frequency by 24−x , where x is the octave number entered by
    the user. This will halve or double the frequency the correct number of times. </i></b>

In [ ]:
while True:   
    note = input("Please enter a musical note, (for example C4): ")

    note = noteAndOctave[0].upper() #The string upper() method converts all lowercase characters in a string into uppercase characters and returns it. The syntax of upper() method is: string.upper()
    octave = int(noteAndOctave[1])

    if note == "C":
        freq = 261.63
    elif note == "D":
        freq = 293.66
    elif note == "E":
        freq = 329.63
    elif note == "F":
        freq = 349.23
    elif note == "G":
        freq = 392.00
    elif note == "A":
        freq = 440.00
    elif note == "B":
        freq = 493.88

    freq /= 2 ** (4 - octave)

    print("The note's frequency is {}Hz".format(freq))

#### Exercise 42: Frequency To Note

In the previous question you converted from note name to frequency. In this question
you will write a program that reverses that process. Begin by reading a frequency
from the user. If the frequency is within one Hertz of a value listed in the table in
the previous question then report the name of the note. Otherwise report that the
frequency does not correspond to a known note. In this exercise you only need to
consider the notes listed in the table. There is no need to consider notes from other
octaves.

In [ ]:
frequency = float(input("Please enter a frequency in Hertz: "))

note = ""

if frequency > 261.63 - 1 and frequency < 261.63 + 1:
    note = "C"
elif frequency > 293.66 - 1 and frequency < 293.66 + 1:
    note = "D"
elif frequency > 329.63 - 1 and frequency < 329.63 + 1:
    note = "E"
elif frequency > 349.23 - 1 and frequency < 349.23 + 1:
    note = "F"
elif frequency > 392.00 - 1 and frequency < 392.00 + 1:
    note = "G"
elif frequency > 440.00 - 1 and frequency < 440.00 + 1:
    note = "A"
elif frequency > 493.88 - 1 and frequency < 493.88 + 1:
    note = "B"

if note == "":
    print("This is not an in tune note.")
else:
    print("This is a {} note.".format(note))

#### Exercise 43: Faces on Money

It is common for images of a country’s previous leaders, or other individuals of historical significance, to appear on its money. The individuals that appear on banknotes
in the United States are listed in Table 2.1.
Write a program that begins by reading the denomination of a banknote from the
user. Then your program should display the name of the individual that appears on the

<html>
    <body>
<table border=2>
    <tr>
        <td>Individual</td>
        <td>Amount</td>
    </tr>
    <tr>
        <td>George Washington</td>
        <td>&#x24;1</td>
    </tr>
    <tr>
        <td>Thomas Jefferson</td>
        <td>&#x24;2</td>
    </tr>
    <tr>
        <td>Abraham Lincoln</td>
        <td>&#x24;5</td>
    </tr>
    <tr>
        <td>Alexander Hamilton</td>
        <td>&#x24;10</td>
    </tr>
    <tr>
        <td>Andrew Jackson</td>
        <td>&#x24;20</td>
    </tr>
    <tr>
        <td>Ulysses S. Grant</td>
        <td>&#x24;50</td>
    </tr>
    <tr>
        <td>Benjamin Franklin</td>
        <td>&#x24;100</td>
    </tr>
</table>
    </body>
</html>
<p style="text-align:center"> <i>Table 2.1 Individuals that
    appear on Banknotes </i></p>

banknote of the entered amount. An appropriate error message should be displayed
if no such note exists. <p><b> While two dollar banknotes are rarely seen in circulation in the United States,
they are legal tender that can be spent just like any other denomination. The
United States has also issued banknotes in denominations of dollar 500, dollar 1.000,
dollar 5.000, and dollar 10.000 for public use. However, high denomination banknotes
have not been printed since 1945 and were officially discontinued in 1969. As a result, we will not consider them in this exercise. </b></p>

In [ ]:
banknote = int(input("Please enter the value of an US dollar note:"))

name = ""

if banknote == 1:
    name = "George Washington"
if banknote == 2:
    name = "Thomas Jefferson"
if banknote == 5:
    name = "Abraham Lincoln"
if banknote == 10:
    name = "Alexander Hamilton"
if banknote == 20:
    name = "Andrew Jackson"
if banknote == 50:
    name = "Ulysses S. Grant"
if banknote == 100:
    name = "Benjamin Franklin"
if name == "":
    print("Sorry that is not a valid US dollar note")
else:
    print("Amerikan banknote :", name)

#### Exercise 44: Date to Holiday Name

Canada has three national holidays which fall on the same dates each year


<table border=2>
    <tr>
        <td>Holiday</td>
        <td>Date</td>
    </tr>
    <tr>
        <td>New year’s day</td>
        <td>January 1</td>
    </tr>
    <tr>
        <td>Canada day</td>
        <td>July 1</td>
    </tr>
    <tr>
        <td>Christmas day</td>
        <td>December 25</td>
    </tr>
    
</table>

Write a program that reads a month and day from the user. If the month and day
match one of the holidays listed previously then your program should display the
holiday’s name. Otherwise your program should indicate that the entered month and
day do not correspond to a fixed-date holiday.
Canada has two additional national holidays, Good Friday and Labour Day,
whose dates vary from year to year. There are also numerous provincial and
territorial holidays, some of which have fixed dates, and some of which have
variable dates. We will not consider any of these additional holidays in this
exercise.

In [ ]:
month = int(input("Please enter a month in between 1-12: "))
date = int(input("Please enter date: "))

if month == 1 and date == 1:
    print("New years")
elif month == 7 and date == 1:
    print("Canada day")
elif month == 12 and date == 25:
    print("Christmas day")
else:
    print("That is not a holiday that falls on the same date each year.")

#### Exercise 45:What Color is that Square?

Positions on a chess board are identified by a letter and a number. The letter identifies
the column, while the number identifies the row, as shown below: Write a program that reads a position from the user. Use an if statement to determine if the column begins with a black square or a white square. Then use modular
arithmetic to report the color of the square in that row. For example, if the user enters
a1 then your program should report that the square is black. If the user enters d5
then your program should report that the square is white. Your program may assume
that a valid position will always be entered. It does not need to perform any error
checking.

In [ ]:
while True:
    reapos = input('Please enter a chess board position: ')

    column = reapos[0].lower()
    row = int(reapos[1])

    if column in 'aceg':
        columnblack = True
    else:
        columnblack = False

    if columnblack:
        if row % 2 == 0:
            rowwhite = True
        else:
            rowwhite = False

    else:
        if row % 2 ==0:
            rowwhite = False
        else:
            rowwhite = True

    if rowwhite:
        print('position is white')
    elif rowwhite:
        print('position is black')
    else:
        print('please enter a value on chess')

#### Exercise 46: Season from Month and Day

The year is divided into four seasons: spring, summer, fall and winter. While the
exact dates that the seasons change vary a little bit from year to year because of the
way that the calendar is constructed, we will use the following dates for this exercise:

<html>
    <body>
<table border=2>
    <tr>
        <td>Season</td>
        <td>First Day</td>
    </tr>
    <tr>
        <td>Spring</td>
        <td>March 20</td>
    </tr>
    <tr>
        <td>Summer</td>
        <td>June 21</td>
    </tr>
    <tr>
        <td>Fall</td>
        <td>September 22</td>
    </tr>
    <tr>
        <td>Winter</td>
        <td>December 21</td>
    </tr>
    
</table>
    </body>
</html>

Create a program that reads a month and day from the user. The user will enter
the name of the month as a string, followed by the day within the month as an
integer. Then your program should display the season associated with the date that
was entered.

In [ ]:
month = input('Please enter a month: ').lower()
day = int(input('Please enter the day: '))

if month == 'january' or month == 'february':
    season = 'winter'
elif month == 'march':
    if day < 20:
        season = 'winter'
    else:
        season = 'spring'
elif month == 'april' or month == 'may':
        season = 'spring'
elif month == 'june':
    if day < 20:
        season = 'spring'
    else:
        season = 'summer'
elif month == 'july' or month == 'august':
        season = 'summer'
elif month == 'september':
    if day <20:
        season = 'summer'
    else:
        season = 'fall'
elif month == 'october' or month == 'november':
    season = 'fall'
elif month == 'december':
    if day < 20:
        season = 'fall'
    else:
        season = 'winter'

print(month, day, 'is',season)

#### Exercise 47: Birth Date to Astrological Sign
The horoscopes commonly reported in newspapers use the position of the sun at the
time of one’s birth to try and predict the future. This system of astrology divides the
year into twelve zodiac signs, as outline in the table below:

<html>
    <body>
<table border=2>
    <tr>
        <td>Zodiac sign</td>
        <td>Date range</td>
    </tr>
    <tr>
        <td>Capricorn</td>
        <td>December 22 to January 19</td>
    </tr>
    <tr>
        <td>Aquarius</td>
        <td>January 20 to February 18</td>
    </tr>
    <tr>
        <td>Pisces</td>
        <td>February 19 to March 20</td>
    </tr>
    <tr>
        <td>Aries</td>
        <td>March 21 to April 19</td>
    </tr>
    <tr>
        <td>Taurus</td>
        <td>April 20 to May 20</td>
    </tr>
    <tr>
        <td>Gemini</td>
        <td>May 21 to June 20</td>
    </tr>
    <tr>
        <td>Cancer</td>
        <td>June 21 to July 22</td>
    </tr>
    <tr>
        <td>Leo</td>
        <td>March 21 to April 19</td>
    </tr>
    <tr>
        <td>Virgo</td>
        <td>August 23 to September 22</td>
    </tr>
    <tr>
        <td>Libra</td>
        <td>September 23 to October 22</td>
    </tr>
    <tr>
        <td>Scorpio</td>
        <td>October 23 to November 21</td>
    </tr>
    <tr>
        <td>Sagittarius</td>
        <td>November 22 to December 21</td>
    </tr>
    
</table>
    </body>
</html>

Write a program that asks the user to enter his or her month and day of birth. Then
your program should report the user’s zodiac sign as part of an appropriate output
message.

In [ ]:
month = input("Please enter your month of birth: ").lower()
day = int(input("Please enter your day of birth: "))

if (month == "december" and day >= 22) or (month == "january" and day <= 19):
    Zodiac_sign = "Capricorn"
elif (month == "january" and day >= 20) or (month == "february" and day <= 18):
    Zodiac_sign = "Aquarius"
elif (month == "february" and day >=19) or (month == "march" and day <= 21):
    Zodiac_sign = "Pisces"
elif (month == "march" and day >=21) or (month == "april" and day <= 19):
    Zodiac_sign = "Aries"
elif (month == "april" and day >= 20) or (month == "may" and day <= 20):
    Zodiac_sign = "Taurus"
elif (month == "may" and day >= 21) or (month == "june" and day <= 20):
    Zodiac_sign = "Gemini"
elif (month == "june" and day >= 21) or (month == "july" and day <= 22):
    Zodiac_sign = "Cancer"
elif (month == "july" and day >= 23) or (month == "august" and day <= 22):
    Zodiac_sign = "Leo"
elif (month == "august" and day >= 23) or (month == "september" and day <= 22):
    Zodiac_sign = "Virgo"
elif (month == "september" and day >= 23) or (month == "october" and day <= 22):
    Zodiac_sign = "Libra"
elif (month == "october" and day >= 23) or (month == "november" and day <= 22):
    Zodiac_sign = "Scorpio"
elif (month == "november" and day >= 22) or (month == "december" and day <= 21):
    Zodiac_sign = "Libra"

print(Zodiac_sign)

#### Exercise 48: Chinese Zodiac

The Chinese zodiac assigns animals to years in a 12 year cycle. One 12 year cycle is
shown in the table below. The pattern repeats from there, with 2012 being another
year of the dragon, and 1999 being another year of the hare.

<html>
    <body>
<table border=2>
    <tr>
        <td>Year</td>
        <td>Animal</td>
    </tr>
    <tr>
        <td>2000</td>
        <td>Dragon</td>
    </tr>
    <tr>
        <td>2001</td>
        <td>Snake</td>
    </tr>
    <tr>
        <td>2002</td>
        <td>Horse</td>
    </tr>
    <tr>
        <td>2003</td>
        <td>Sheep</td>
    </tr>
    <tr>
        <td>2004</td>
        <td>Monkey</td>
    </tr>
    <tr>
        <td>2005</td>
        <td>Rooster</td>
    </tr>
    <tr>
        <td>2006</td>
        <td>Dog</td>
    </tr>
    <tr>
        <td>2007</td>
        <td>Pig</td>
    </tr>
    <tr>
        <td>2008</td>
        <td>Rat</td>
    </tr>
    <tr>
        <td>2009</td>
        <td>Ox</td>
    </tr>
    <tr>
        <td>2010</td>
        <td>Tiger</td>
    </tr>
    <tr>
        <td>2011</td>
        <td>Hare</td>
    </tr>
    
</table>
    </body>
</html>

Write a program that reads a year from the user and displays the animal associated
with that year. Your program should work correctly for any year greater than or equal
to zero, not just the ones listed in the table.

In [ ]:
year = int(input("Please enter a year: "))

if (year - 2000) % 12 == 0:
    Chinese_Zodiac = 'Dragon'
elif (year - 2000) % 12 == 1:
    Chinese_Zodiac = 'Snake'
elif (year - 2000) % 12 == 2:
    Chinese_Zodiac = 'Horse'
elif (year - 2000) % 12 == 3:
    Chinese_Zodiac = 'sheep'
elif (year - 2000) % 12 == 4:
    Chinese_Zodiac = 'Monkey'
elif (year - 2000) % 12 == 5:
    Chinese_Zodiac = 'Rooster'
elif (year - 2000) % 12 == 6:
    Chinese_Zodiac = 'Dog'
elif (year - 2000) % 12 == 7:
    Chinese_Zodiac = 'Pig'
elif (year - 2000) % 12 == 8:
    Chinese_Zodiac = 'Rat'
elif (year - 2000) % 12 == 9:
    Chinese_Zodiac = 'Ox'
elif (year - 2000) % 12 == 10:
    Chinese_Zodiac = 'Tiger'
else:
    Chinese_Zodiac = 'Hare'

print("Your Chinese Zodiac :",Chinese_Zodiac)

#### Exercise 49: Richter Scale

The following table contains earthquake magnitude ranges on the Richter scale and
their descriptors:

<html>
    <body>
<table border=2>
    <tr>
        <td>Magnitude</td>
        <td>Descriptor</td>
    </tr>
    <tr>
        <td>Less than 2.0</td>
        <td>Micro</td>
    </tr>
    <tr>
        <td>2.0 to less than 3.0</td>
        <td>Very minor</td>
    </tr>
    <tr>
        <td>3.0 to less than 4.0</td>
        <td>Minor</td>
    </tr>
    <tr>
        <td>4.0 to less than 5.0</td>
        <td>Light</td>
    </tr>
    <tr>
        <td>5.0 to less than 6.0</td>
        <td>Moderate</td>
    </tr>
    <tr>
        <td>6.0 to less than 7.0</td>
        <td>Strong</td>
    </tr>
    <tr>
        <td>7.0 to less than 8.0</td>
        <td>Major</td>
    </tr>
    <tr>
        <td>8.0 to less than 10.0</td>
        <td>Great</td>
    </tr>
    <tr>
        <td>10.0 or more</td>
        <td>Meteoric</td>
    
</table>
    </body>
</html>
    
Write a program that reads a magnitude from the user and displays the appropriate
descriptor as part of a meaningful message. For example, if the user enters 5.5 then
your program should indicate that a magnitude 5.5 earthquake is considered to be a
moderate earthquake.

In [ ]:
magnitude = float(input("Please enter earthquake magnitude: "))

if magnitude < 2.0:
    Descriptor = "Micro"
elif magnitude >= 2.0 and magnitude < 3.0:
    Descriptor = "Very minor"
elif magnitude >= 3.0 and magnitude < 4.0:
    Descriptor = "Minor"
elif magnitude >= 4.0 and magnitude < 5.0:
    Descriptor = "Light"
elif magnitude >= 5.0 and magnitude < 6.0:
    Descriptor = "Moderate"
elif magnitude >= 6.0 and magnitude < 7.0:
    Descriptor = "Strong"
elif magnitude >= 7.0 and magnitude < 8.0:
    Descriptor = "Major"
elif magnitude >= 8.0 and magnitude < 10.0:
    Descriptor = "Great"
else:
    Descriptor = "Meteoric"
    
    
print ("magnitude", magnitude, "earthquake is considered to be a", Descriptor, "earthquake.")

#### Exercise 50: Roots of a Quadratic Function

A univariate quadratic function has the form f (x) = ax2 + bx + c, where a, b and
c are constants, and a is non-zero. The roots of a quadratic function can be found
by finding the values of x that satisfy the quadratic equation ax2 + bx + c = 0. A
quadratic function may have 0, 1 or 2 real roots. These roots can be computed using
the quadratic formula, shown below:

$$root = \frac{-b \pm \sqrt{b^{2}-4ac}}{2a}$$

The portion of the expression under the square root sign is called the discriminant.
If the discriminant is negative then the quadratic equation does not have any real roots.
If the discriminant is 0, then the equation has one real root. Otherwise the equation
has two real roots, and the expression must be evaluated twice, once using a plus
sign, and once using a minus sign, when computing the numerator.
Write a program that computes the real roots of a quadratic function. Your program
should begin by prompting the user for the values of a, b and c. Then it should display
a message indicating the number of real roots, along with the values of the real roots
(if any).

In [ ]:
print("This program find roots of a quadratic function")

a = int(input("Please enter value of a constant: "))
b = int(input("Please enter value of b constant: "))
c = int(input("Please enter value of c constant: "))

discriminant = ((b ** 2) - (4 * a * c))

if discriminant < 0:
    print("quadratic equation does not any real root")
    
elif discriminant == 0:
    print("Equation has one real root")
    
    root = -b / 2*a 
    print("Real root = {}".format(root))
    
else:
    print("This quadratic function has two real roots.")

    root1 = -b + discriminant / 2 * a
    root2 = -b - discriminant / 2 * a
    
    print("Real roots = {} or {}".format(root1, root2))

#### Exercise 51: Letter Grade to Grade Points

At a particular university, letter grades are mapped to grade points in the following
manner:

<html>
    <body>
<table border=2>
    <tr>
        <td>Letter</td>
        <td>Grade points</td>
    </tr>
    <tr>
        <td>A+</td>
        <td>4.0</td>
    </tr>
    <tr>
        <td>A</td>
        <td>4.0</td>
    </tr>
    <tr>
        <td>A-</td>
        <td>3.7</td>
    </tr>
    <tr>
        <td>B+</td>
        <td>3.3</td>
    </tr>
    <tr>
        <td>B</td>
        <td>3.0</td>
    </tr>
    <tr>
        <td>B-</td>
        <td>2.7</td>
    </tr>
    <tr>
        <td>C+</td>
        <td>2.3</td>
    </tr>
    <tr>
        <td>C</td>
        <td>2.0</td>
    </tr>
    <tr>
        <td>C-</td>
        <td>1.7</td>
    <tr>
    <tr>
        <td>D+</td>
        <td>1.3</td>
    <tr>
    <tr>
        <td>D</td>
        <td>1.0</td>
    <tr>
    <tr>
        <td>F</td>
        <td>0</td>
    <tr>
</table>
    </body>
</html>

Write a program that begins by reading a letter grade from the user. Then your
program should compute and display the equivalent number of grade points. Ensure that your program generates an appropriate error message if the user enters an invalid letter grade.

In [ ]:
letter = input("Please enter your letter grade: ").upper()

if (letter == "A+") or (letter == "A"):
    grade = 4.0
elif letter == "A-":
    grade = 3.7
elif letter == "B+":
    grade = 3.3
elif letter == "B":
    grade = 3.0
elif letter == "B-":
    grade = 2.7
elif letter == "C+":
    grade = 2.3
elif letter == "C":
    grade = 2.0
elif letter == "C-":
    grade = 1.7
elif letter == "D+":
    grade = 1.3
elif letter == "D":
    grade = 1.0
elif letter == "F":
    grade = 0

l = letter.upper()
print("Grade points: ", str(grade),l)

#### Exercise 52: Grade Points to Letter Grade

In the previous exercise you created a program that converts a letter grade into the
equivalent number of grade points. In this exercise you will create a program that
reverses the process and converts from a grade point value entered by the user to a
letter grade. Ensure that your program handles grade point values that fall between
letter grades. These should be rounded to the closest letter grade. Your program
should report A+ for a 4.0 (or greater) grade point average.

In [ ]:
points = float(input("Enter a number of grade points: "))

letter = ""

if points == 0:
    letter = "F"
elif points >=1.0 and points < 1.3:
    letter = "D"
elif points >=1.3 and points < 1.7:
    letter = "D+"
elif points >= 1.7 and points < 2.0:
    letter = "C-"
elif points >= 2.0 and points < 2.3:
    letter = "C"
elif points >= 2.3 and points < 2.7:
    letter = "C+"
elif points >= 2.7 and points < 3.0:
    letter = "B-"
elif points >= 3.0 and points < 3.3:
    letter = "B"
elif points >= 3.3 and points < 3.7:
    letter = "B+"
elif points >= 3.7 and points < 4.0:
    letter = "A-"
elif points == 4.0:
    letter = "A or A+"


if letter != "":
    print("Your grade is {}".format(letter))
else:
    print("Invalid number of grade points entered.")

#### Exercise 53: Assessing Employees

At a particular company, employees are rated at the end of each year. The rating scale
begins at 0.0, with higher values indicating better performance and resulting in larger
raises. The value awarded to an employee is either 0.0, 0.4, or 0.6 or more. Values
between 0.0 and 0.4, and between 0.4 and 0.6 are never used. The meaning associated
with each rating is shown in the following table. The amount of an employee’s raise
is &#x24;2400.00 multiplied by their rating.

<html>
    <body>
<table border=2>
    <tr>
        <td>Rating</td>
        <td>Meaning</td>
    </tr>
    <tr>
        <td>0.0</td>
        <td>Unacceptable performance</td>
    </tr>
    <tr>
        <td>0.4</td>
        <td>Acceptable performance</td>
    </tr>
    <tr>
        <td>0.6 or more</td>
        <td>Meritorious performance</td>
    </tr>
</table>
    </body>
</html>

Write a program that reads a rating from the user and indicates whether the performance was unacceptable, acceptable or meritorious. The amount of the employee’s
raise should also be reported. Your program should display an appropriate error
message if an invalid rating is entered.

In [ ]:
rating = float(input("Please enter your value awarded: "))

value = ""
if rating == 0.0:
    value = "Unacceptable performance"
elif rating == 0.4:
    value = "Acceptable performance"
elif rating >= 0.6:
    value = "Meritorious performance"


awarded = rating * 2500

if value !="":
    print("Your award is {} {}.".format(value,awarded))
else:
    print("An invalid rating")

#### Exercise 54:Wavelengths of Visible Light

The wavelength of visible light ranges from 380 to 750 nanometers (nm). While the
spectrum is continuous, it is often divided into 6 colors as shown below:

<html>
    <body>
<table border=2>
    <tr>
        <td>Colour</td>
        <td>Wavelength (nm)</td>
    </tr>
    <tr>
        <td>Violet</td>
        <td>380 to less than 450</td>
    </tr>
    <tr>
        <td>Blue</td>
        <td>450 to less than 495</td>
    </tr>
    <tr>
        <td>Green</td>
        <td>495 to less than 570</td>
    </tr>
    <tr>
        <td>Yellow</td>
        <td>570 to less than 590</td>
    </tr>
    <tr>
        <td>Orange</td>
        <td>590 to less than 620</td>
    </tr>
    <tr>
        <td>Red</td>
        <td>620 to 750</td>
    </tr>
</table>
    </body>
</html>
Write a program that reads a wavelength from the user and reports its color. Display
an appropriate error message if the wavelength entered by the user is outside of the
visible spectrum.

In [ ]:
wavelength = int(input('Please enter a wavelength between 380 - 750: '))

colour = ''
if wavelength >= 380 and wavelength < 480:
    colour = 'Violet'
elif wavelength >= 480 and wavelength < 495:
    colour = 'Bule'
elif wavelength >= 495 and wavelength < 570:
    colour = 'Green'
elif wavelength >= 570 and wavelength < 590:
    colour = 'Yellow'
elif wavelength >= 590 and wavelength < 620:
    colour = 'Orange'
elif wavelength >= 620 and wavelength < 750:
    colour = 'Red'

if colour != '':
    print('spectrum is {}'.format(colour))  
else:
    print('This wavelength is outside the spectrum of visible light.')

#### Exercise 55: Frequency to Name

Electromagnetic radiation can be classified into one of 7 categories according to its
frequency, as shown in the table below:

<html>
    <body>
<table border=2>
    <tr>
        <td>Name</td>
        <td>Frequency (Hz)</td>
    </tr>
    <tr>
        <td>Radio waves</td>
        <td>Less than 3 × 10^9</td>
    </tr>
    <tr>
        <td>Microwaves</td>
        <td>3 × 10^9 to less than 3 × 10^12</td>
    </tr>
    <tr>
        <td>Infrared light</td>
        <td>3 × 10^12 to less than 4.3 × 10^14</td>
    </tr>
    <tr>
        <td>Visible light</td>
        <td>4.3 × 10^14 to less than 7.5 × 10^14</td>
    </tr>
    <tr>
        <td>Ultraviolet light</td>
        <td>7.5 × 10^14 to less than 3 × 10^17</td>
    </tr>
    <tr>
        <td>X-rays</td>
        <td>3 × 10^17 to less than 3 × 10^19</td>
    </tr>
    <tr>
        <td>Gamma rays</td>
        <td>3 × 10^19 or more</td>
    </tr>
</table>
    </body>
</html>

Write a program that reads the frequency of the radiation from the user and displays
the appropriate name

#### Exercise 56: Cell Phone Bill

A particular cell phone plan includes 50 minutes of air time and 50 text messages
for &#x24;15.00 a month. Each additional minute of air time costs &#x24;0.25, while additional text messages cost &#x24;0.15 each. All cell phone bills include an additional charge of &#x24;0.44 to support 911 call centers, and the entire bill (including the 911 charge) is subject to 5 percent sales tax. Write a program that reads the number of minutes and text messages used in a
month from the user. Display the base charge, additional minutes charge (if any),
additional text message charge (if any), the 911 fee, tax and total bill amount. Only
display the additional minute and text message charges if the user incurred costs in
these categories. Ensure that all of the charges are displayed using 2 decimal places.